<meta charset='UTF-8'>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>AÑO</th>
      <th>DEPORTE</th>
      <th>KMS</th>
      <th>SESIONES</th>
      <th>HORAS</th>
      <th>MEDIA_KMS</th>
      <th>RITMO_SEGUNDOS</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2021</td>
      <td>Correr</td>
      <td>344</td>
      <td>67</td>
      <td>34</td>
      <td>5.1</td>
      <td>351</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2020</td>
      <td>Correr</td>
      <td>357</td>
      <td>67</td>
      <td>36</td>
      <td>5.3</td>
      <td>362</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2019</td>
      <td>Correr</td>
      <td>473</td>
      <td>66</td>
      <td>47</td>
      <td>7.2</td>
      <td>355</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2018</td>
      <td>Correr</td>
      <td>438</td>
      <td>59</td>
      <td>44</td>
      <td>7.4</td>
      <td>360</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2017</td>
      <td>Correr</td>
      <td>334</td>
      <td>44</td>
      <td>32</td>
      <td>7.6</td>
      <td>349</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2016</td>
      <td>Correr</td>
      <td>366</td>
      <td>53</td>
      <td>38</td>
      <td>6.9</td>
      <td>369</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2015</td>
      <td>Correr</td>
      <td>458</td>
      <td>64</td>
      <td>45</td>
      <td>7.2</td>
      <td>354</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2014</td>
      <td>Correr</td>
      <td>557</td>
      <td>65</td>
      <td>53</td>
      <td>8.6</td>
      <td>344</td>
    </tr>
    <tr>
      <th>8</th>
      <td>2013</td>
      <td>Correr</td>
      <td>524</td>
      <td>57</td>
      <td>50</td>
      <td>9.2</td>
      <td>342</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2012</td>
      <td>Correr</td>
      <td>454</td>
      <td>54</td>
      <td>43</td>
      <td>8.4</td>
      <td>340</td>
    </tr>
    <tr>
      <th>10</th>
      <td>2011</td>
      <td>Correr</td>
      <td>765</td>
      <td>74</td>
      <td>69</td>
      <td>10.3</td>
      <td>326</td>
    </tr>
    <tr>
      <th>11</th>
      <td>2010</td>
      <td>Correr</td>
      <td>704</td>
      <td>73</td>
      <td>65</td>
      <td>9.6</td>
      <td>334</td>
    </tr>
    <tr>
      <th>12</th>
      <td>2009</td>
      <td>Correr</td>
      <td>490</td>
      <td>56</td>
      <td>47</td>
      <td>8.8</td>
      <td>347</td>
    </tr>
    <tr>
      <th>13</th>
      <td>2008</td>
      <td>Correr</td>
      <td>653</td>
      <td>69</td>
      <td>61</td>
      <td>9.5</td>
      <td>337</td>
    </tr>
    <tr>
      <th>14</th>
      <td>2007</td>
      <td>Correr</td>
      <td>727</td>
      <td>73</td>
      <td>67</td>
      <td>10.0</td>
      <td>331</td>
    </tr>
    <tr>
      <th>15</th>
      <td>2006</td>
      <td>Correr</td>
      <td>630</td>
      <td>73</td>
      <td>56</td>
      <td>8.6</td>
      <td>323</td>
    </tr>
    <tr>
      <th>16</th>
      <td>2005</td>
      <td>Correr</td>
      <td>781</td>
      <td>74</td>
      <td>72</td>
      <td>10.6</td>
      <td>330</td>
    </tr>
    <tr>
      <th>17</th>
      <td>2004</td>
      <td>Correr</td>
      <td>550</td>
      <td>63</td>
      <td>52</td>
      <td>8.7</td>
      <td>340</td>
    </tr>
    <tr>
      <th>18</th>
      <td>2003</td>
      <td>Correr</td>
      <td>612</td>
      <td>69</td>
      <td>55</td>
      <td>8.9</td>
      <td>323</td>
    </tr>
    <tr>
      <th>19</th>
      <td>2002</td>
      <td>Correr</td>
      <td>1346</td>
      <td>116</td>
      <td>111</td>
      <td>11.6</td>
      <td>298</td>
    </tr>
    <tr>
      <th>20</th>
      <td>2001</td>
      <td>Correr</td>
      <td>1554</td>
      <td>150</td>
      <td>131</td>
      <td>10.4</td>
      <td>303</td>
    </tr>
    <tr>
      <th>21</th>
      <td>2000</td>
      <td>Correr</td>
      <td>662</td>
      <td>91</td>
      <td>58</td>
      <td>7.3</td>
      <td>316</td>
    </tr>
    <tr>
      <th>22</th>
      <td>1999</td>
      <td>Correr</td>
      <td>307</td>
      <td>43</td>
      <td>26</td>
      <td>7.1</td>
      <td>304</td>
    </tr>
    <tr>
      <th>23</th>
      <td>1998</td>
      <td>Correr</td>
      <td>341</td>
      <td>46</td>
      <td>29</td>
      <td>7.4</td>
      <td>302</td>
    </tr>
    <tr>
      <th>24</th>
      <td>1997</td>
      <td>Correr</td>
      <td>688</td>
      <td>73</td>
      <td>56</td>
      <td>9.4</td>
      <td>294</td>
    </tr>
    <tr>
      <th>25</th>
      <td>1996</td>
      <td>Correr</td>
      <td>846</td>
      <td>111</td>
      <td>70</td>
      <td>7.6</td>
      <td>300</td>
    </tr>
    <tr>
      <th>26</th>
      <td>1995</td>
      <td>Correr</td>
      <td>559</td>
      <td>70</td>
      <td>47</td>
      <td>8.0</td>
      <td>306</td>
    </tr>
    <tr>
      <th>27</th>
      <td>1994</td>
      <td>Correr</td>
      <td>397</td>
      <td>64</td>
      <td>35</td>
      <td>6.2</td>
      <td>321</td>
    </tr>
  </tbody>
</table>